@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: block;
    src: url("../fonts/Inter-4.0/web/InterVariable.woff2?v=4.0") format("woff2");
}

html{
    font-family: InterVariable, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}